doctype html
html(ng-app='sampleApp2')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title CIRCUITO-BOLIVIA
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
		link(rel='stylesheet', href='/stylesheets/styles.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand.navbar-link(href='#')
						h3.tipografia3 CIRCUITO-BOLIVIA
					button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navcol-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li(role='presentation')
							a(href='/') INICIO
						li(role='presentation')
							a(href='/piloto') PILOTOS
						li(role='presentation')
							a(href='/ranking') RANKING
						li.active(role='presentation')
							a(href='/calendario') CALENDARIO
						li(role='presentation')
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| DIRECTO
								span.caret
							ul.dropdown-menu
								li(role='presentation')
									a(href='/inscritos') INSCRITOS
								li(role='presentation')
									a(href='/clasificacioncir') CLASIFICACIÓN
								li(role='presentation')
									a(href='/carreracir') CARRERA
		.container
			.row(ng-controller='SampleCtrlcat2')
					.col-md-4.col-md-push-7.phone-preview
						.iphone-mockup
					.col-md-6.col-md-pull-3.get-it
						h4.tipografia2 CALENDARIO
						br
						.panel.panel-default(ng-repeat='x1 in calendario')
							.panel-heading
								h3.panel-title
									h5.tipografia1 {{x1.nombre}} 
									img.img-responsive.center-block(id='imagen{{x1.foto}}', ng-src='{{getImageUrl(x1.foto)}}')
							.panel-body
								a.btn.btn-warning(href='#cale{{x1.lugar}}', data-toggle='collapse' style='width:100%') INFO
								.collapse(id='cale{{x1.lugar}}')
									br
									#reloj3
										p.text-primary Nombre:{{x1.orden}}
										p.text-primary Estado:{{x1.estado}}  
										p.text-primary Fecha:{{x1.fecha}} 
										p.text-primary Tipo:{{x1.tipo}}
										br
										div(ng-show="appState == '{{x1.tipo}}'")
											a.pull-right(href="/inscritos/{{x1.orden}}") VER INSCRITOS
											br
											a.pull-right(href="/orden/{{x1.orden}}") VER ORDEN DE LARGADA
											br
											a.pull-right(href="/clasificacion/{{x1.orden}}") VER ETAPAS/PRUEBAS ESPECIALES
											br
											a.pull-right(href="/carrera/{{x1.orden}}") VER CLASIFICACIÓN GENERAL

										div(ng-show="appState2 == '{{x1.tipo}}'")
											a.pull-right(href="/inscritos/{{x1.orden}}") VER INSCRITOS
											br
											a.pull-right(href="/clasificacioncir/{{x1.orden}}") VER CLASIFICACION
											br
											a.pull-right(href="/carreracir/{{x1.orden}}") VER CARRERA
									
															 

		footer.site-footer
			.container
				.row
					.col-sm-6
						h6.tipografia4 @CIRCUITO-TARIJA 2017 TODOS LOS DERECHOS RESERVADOS
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
		script(src='https://www.gstatic.com/firebasejs/3.8.0/firebase.js')
		script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
		script.
			// Initialize Firebase
			  var config = {
				apiKey: "AIzaSyC-4aEU70Wl614QBnvPxM1vfzrLT3BNajM",
				authDomain: "circuitobolivia.firebaseapp.com",
				databaseURL: "https://circuitobolivia.firebaseio.com",
				projectId: "circuitobolivia",
				storageBucket: "circuitobolivia.appspot.com",
				messagingSenderId: "67878353766"
			  };
			  firebase.initializeApp(config);
		script(src='/javascripts/codigocalendario.js')
