doctype html
html(ng-app='sampleApp2')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Circuito T.Real/Pilotos
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
        link(rel='stylesheet', href='/stylesheets/styles.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    a.navbar-brand.navbar-link(href='#')
                        h3.tipografia3 Circuito TUPIZA
                    button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navcol-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li(role='presentation')
                            a(href='/') INICIO
                        li(role='presentation')
                            a(href='/piloto') PILOTOS
                        li(role='presentation')
                            a(href='/ranking') RANKING
                        li(role='presentation')
                            a(href='/calendario') CALENDARIO
                        li.active(role='presentation')
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                | DIRECTO
                                span.caret
                            ul.dropdown-menu
                                li.active(role='presentation')
                                    a(href='/clasificacion') CLASIFICACIÓN
                                li(role='presentation')
                                    a(href='/carrera') CARRERA
                        li(role='presentation')
                            a(href='/galeria') GALERIA
                        li(role='presentation')
                            a(href='/media') MEDIA
        .container
            .row(ng-controller='SampleCtrlcat2')
                .col-md-4.col-md-push-7.phone-preview
                    .iphone-mockup
                .col-md-6.col-md-pull-3.get-it
                    h4.tipografia2 CLASIFICACION DE CARRERA: #{carrera}
                    h4.tipografia2 Clase 
                    select(name='singleSelect', ng-model='data.singleSelect', ng-change='LoadSessionData(data.singleSelect)', style='width:100%')
                        option(value='', disabled='', selected='') Seleccionar Clase
                        option(ng-repeat='x1 in categoria') {{x1.nombre}}
                    hr
                    .panel.panel-default(ng-repeat='x1 in units')
                        .panel-heading
                            h3.panel-title
                                h5.tipografia1 {{units.indexOf(x1)+1}}
                                    p.pull-right {{clase}}
                                h5.tipografia1 
                                    span.icon-key2
                                    | {{x1.auto}} 
                                h5.tipografia1
                                    span.icon-user
                                    | {{x1.nombre}}
                                h5.tipografia1
                                    span.icon-user-plus
                                    | {{x1.nave}}
                                center
                                    h2  
                                        #reloj
                                            | {{x1.tiempo}}
                                #reloj2
                                    p.pull-right +{{x1.tiempoa}}
                                br
                                #reloj3
                                    p.text-primary Rep:{{x1.repe}}
                                    p.text-warning Pena :{{x1.pena}}
                        .panel-body
                            a.btn.btn-primary.btn-xs(href='#cla{{units.indexOf(x1)+1}}', data-toggle='collapse' style='width:100%') INFO
                            .collapse(id='cla{{units.indexOf(x1)+1}}')
                                br
                                #reloj3
                                    p Velocidad:  {{x1.km}} km/h       
                                    p Dif. C/u:  {{x1.tiempoa}}
                                    p Dif 1° C/u:  {{x1.tiempop}}
                                    p MANGA:  {{x1.manga}}
                    
                            

        section.testimonials
        footer.site-footer
            .container
                .row
                    .col-sm-6
                         h6.tipografia4 @CIRCUITO BOLIVIA 2017 TODOS LOS DERECHOS RESERVADOS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
        script(src='https://www.gstatic.com/firebasejs/3.8.0/firebase.js')
        script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
        script.
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyBwVjIYEN2QjmJ5kqXvnazaOSLKrzauZC0",
                authDomain: "febad-42b3a.firebaseapp.com",
                databaseURL: "https://febad-42b3a.firebaseio.com",
                projectId: "febad-42b3a",
                storageBucket: "febad-42b3a.appspot.com",
                messagingSenderId: "431035690337"
            };
            firebase.initializeApp(config);
            var workflowData = '#{carrera}';
        script(src='/javascripts/codigoclasificaciond.js')