doctype html
html(ng-app='sampleAppindex')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title CIRCUITO-BOLIVIA
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
		link(rel='stylesheet', href='/stylesheets/styles.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand.navbar-link(href='#')
						h3.tipografia3 CIRCUITO-BOLIVIA
					button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navcol-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li.active(role='presentation')
							a(href='/') INICIO
						li(role='presentation')
							a(href='/piloto') PILOTOS
						li(role='presentation')
							a(href='/ranking') RANKING
						li(role='presentation')
							a(href='/calendario') CALENDARIO
						li(role='presentation')
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| DIRECTO
								span.caret
							ul.dropdown-menu
								li(role='presentation')
									a(href='/inscritos') INSCRITOS
								li(role='presentation')
									a(href='/clasificacioncir') CLASIFICACIÓN
								li(role='presentation')
									a(href='/carreracir') CARRERA
		.jumbotron.hero
			.container
				.row
					.col-md-4.col-md-push-7.phone-preview
						.iphone-mockup
					.col-md-6.col-md-pull-3.get-it
						h1 CIRCUITO BOLIVIA
						h1 LAS PAZ
						p SIGUE LA COMPETENCIA EN TIEMPO REAL-
						p 15 Y 16 de Julio 2017
		section.testimonials
			h2.text-center BIENVENIDO
			blockquote(ng-controller='SampleCtrlcatindex')
				footer LA PAZ-BOLIVIA
				h4.tipografia2 EN VIVO COMPENTENCIA : {{carreradirecto}}
		section.features
			.container
				.row
					.col-md-6
						center
							h4.tipografia2 AUTOS
						h4.tipografia2
							a(href="/inscritos/{{carreradirecto}}")  VER INSCRITOS
						br
						h4.tipografia2
							a(href="/clasificacioncir/{{carreradirecto}}")  CLASIFICACIÓN
						br
						h4.tipografia2
							a(href="/carreracir/{{carreradirecto}}")  CARRERA
					 
		footer.site-footer
			.container
				.row
					.col-sm-6
						h6.tipografia4 @CIRCUITO-TARIJA 2017 TODOS LOS DERECHOS RESERVADOS
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
		script(src='https://www.gstatic.com/firebasejs/3.8.0/firebase.js')
		script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
		script.
			// Initialize Firebase
				var config = {
				apiKey: "AIzaSyC-4aEU70Wl614QBnvPxM1vfzrLT3BNajM",
				authDomain: "circuitobolivia.firebaseapp.com",
				databaseURL: "https://circuitobolivia.firebaseio.com",
				projectId: "circuitobolivia",
				storageBucket: "circuitobolivia.appspot.com",
				messagingSenderId: "67878353766"
				};
				firebase.initializeApp(config);
		script(src='/javascripts/codigoindex.js')