doctype html
html(ng-app='sampleApp9')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title GO-TARIJA 
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
		link(rel='stylesheet', href='/stylesheets/styles.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand.navbar-link(href='#')
						h3.tipografia3 GO-TARIJA
					button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navcol-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#navcol-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li(role='presentation')
							a(href='/') INICIO
						li.active(role='presentation')
							a(href='/piloto') PILOTOS
						li(role='presentation')
							a(href='/ranking') RANKING
						li(role='presentation')
							a(href='/calendario') CALENDARIO
						li(role='presentation')
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| DIRECTO
								span.caret
							ul.dropdown-menu
								li(role='presentation')
									a(href='/inscritos') INSCRITOS
								li(role='presentation')
									a(href='/orden') ORDEN DE LARGADA
								li(role='presentation')
									a(href='/clasificacion') ETAPAS/PRUEBAS ESPECIALES
								li(role='presentation')
									a(href='/carrera') CLASIFICACIÓN GENERAL
						li(role='presentation')
							a(href='#') GALERIA
						li(role='presentation')
							a(href='#') MEDIA
		.container
			.row(ng-controller='SampleCtrlcat9')
				.col-md-4.col-md-push-7.phone-preview
					.iphone-mockup
				.col-md-6.col-md-pull-3.get-it
					h4.tipografia2 ORDEN DE LARGADA : #{carrera}
					h4.tipografia2 ETAPA
					select(name='singleSelect', ng-model='data.singleSelect', ng-change='LoadSessionData(data.singleSelect)', style='width:100%')
						option(value='', disabled='', selected='') Seleccionar Etapa
						option(ng-repeat='x1 in etapas') {{x1.orden}}
					br
					br
					.panel.panel-default(ng-repeat='x1 in units')
						.panel-heading
							h3.panel-title
								p {{units.indexOf(x1)+1}}
								h5.tipografia1 
									span.icon-key2
									| {{x1.auto}} 
								h5.tipografia1
									span.icon-user
									| {{x1.nombre}}
								h5.tipografia1
									span.icon-user-plus
									| {{x1.nave}}
								h5.tipografia1
									| Largada: {{x1.largada}}
								h5.tipografia1
									| Clase: {{x1.clase}}
								h5.tipografia1
									| Obs: {{x1.obs}}
		section.testimonials
		footer.site-footer
			.container
				.row
					.col-sm-6
						h6.tipografia4 @GO-TARIJA 2017 TODOS LOS DERECHOS RESERVADOS
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js')
		script(src='https://www.gstatic.com/firebasejs/3.8.0/firebase.js')
		script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
		script.
			// Initialize Firebase
				var config = {
				apiKey: "AIzaSyCAvJ-eDPeK0hvmWWbUJROwJHgZtKl2B6Y",
				authDomain: "aadeta-7a01d.firebaseapp.com",
				databaseURL: "https://aadeta-7a01d.firebaseio.com",
				projectId: "aadeta-7a01d",
				storageBucket: "aadeta-7a01d.appspot.com",
				messagingSenderId: "25211110334"
			  };
			firebase.initializeApp(config);
					var workflowData = '#{carrera}';
		script(src='/javascripts/codigoordend.js')